﻿@{
    ViewBag.Title = "hakkımızda";
}


<div class="container">
    <div class="page-title clearfix">
        <div class="row">
        <div class="col-md-12">
            <h6><a href="ındex">Ana Sayfa</a></h6>
            <h6><span class="page-active">Hakkımızda</span></h6>
        </div>
    </div>
</div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="widget-main">
                <div class="widget-inner shortcode-typo">
                    <h4>Hakkımızda</h4>
                    <div class="row">
                        <div class="col-md-12">
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>