﻿cd/path/to/your/repo
GIT://g151210107@bitpucket.ogr/g151210107/g151210107.git
<!DOCTYPE html>
<html class="no-js" lang="tr">
<head>
    <title>Hayal Gücü</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Hayal Gücü">
    <meta name="author" content="Hayal Gücü">
    <meta charset="UTF-8">

    <link href='http://fonts.gooleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800' rel='stylesheet' type='text/css'>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>

<body>
    <div class="responsive-navigation visible-sm visible-xs">
        <a href="#" class="menu-toggle-btn">
            <i class="fade fa-bars"></i>
        </a>
        <div class="responsive_menu">
            <ul class=" main_menu">
                <li>@Html.ActionLink("Ana Sayfa","Index","Home")</li>
                <li>@Html.ActionLink("Hakkımızda","About","Home")</li>
                <li>
                    <a>Gezi Yerlerimiz</a>
                    <ul>
                        <li><a href="/Home/Courses?CategoryID=1">Akademik geziler</a></li>
                        <li><a href="/Home/Courses?CategoryID=2">Firma gezileri</a></li>
                      </ul>
                </li>
                <li>@Html.ActionLink("iletişim","contact","home")</li>
             </ul>
            <ul class="social icons">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                
            </ul>
        </div>
    </div>
                 <div class="col-md-4">
                    <div class="logo">
                        <a href="ındex" title="Hayal gücü" rel="home">
                            <h3 style="color:#c6badd;">Hayal gücü</h3>
                            <h3 style="color:#c6badd; margin-top:0px"></h3>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 header-right">
                    <ul class="small-links">
                        @Html.Partial("_LoginPartial")
                    </ul>
                    <div class="seacrh-form">
                        <form name="search_form" method="get" action="#" class="search_form">
                            <input type="text" name="s" placeholder="sitede arama... " class="field_search" />
                        </form>
                    </div>
                </div>
            
        <div class=" nav-bar-main" role="navigation">
            <div class="container">
                <nav class="main-navigation">
                </nav>
            </div>
        </div>
   
    <div class="container">
        @RenderBody()
    </div>
    <footer class="site-header footer">
        <div class="container">
            <div class="bottom-footer">
                <div class="row">
                    
                    <div class="col-md-4">
                        <ul class="footer-nav">
                        <li>@Html.ActionLink("Ana Sayfa","Index","Home")</li>
                        <li>@Html.ActionLink("Hakkımızda", "About", "Home")</li>
                        <li>@Html.ActionLink("iletişim", "Contact", "Home")</li>
                        </ul>
                        </div>
                    <div class="col-md-6">
                        <ul class="social-icons pull-right" style="padding:0;" >                       
                            <li><a href="#" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" title="likedin"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" title="Instagram"><i class="fa fa-instagram"></i></a></li> 
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


</body>
</html>

