﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width0device-width,initial-scale=1.0" >
    <title>@ViewBag.Title-my asp.net application </title>
    @Styles.Render("/Content/css" )
    @Scripts.Render("/bundles/modernizr")

</head>

<body>
    <div class=" navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" dat>
                    <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
 </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            <li>@Html.ActionLink("HAKKIMIZDA", "Index", "Home")</li>
            <li>@Html.ActionLink("ANA SAYFA", "ABOUT", "Home")</li>
            <li>@Html.ActionLink("MODÜLLER", "MODULLES", "Home")</li>
            <li>@Html.ActionLink("BLOG", "BLOG", "Home")</li>
            <li>@Html.ActionLink("İLETEİŞİM", "CONTACK", "Home")</li>
   </ul>
            <div class="="nav navbar-nav navbar-right col-md-4">
                <div class="col-md-3">
                    <div class=" dropdawn">
                        <button class="btn btn-default dropdawn-toggle" type="button"> </button>
                        <ul class="dropdawn-menü " aria-labelledby="dropdownMenu1">
                        <li><a href="#">EN</a></li>
     </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">ARA</button>
                        </span>
                        <input type="text" class="form-control"placeholder="ARAMA" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>  
    <div class=" container body-content">
        @RenderBody()
    </div>
</body>
</html>
